#title {
  background-color: #84a9ac;
}

/* Navigation bar  */


.navbar-brand {
  color: white;
  font-size: 2rem;
  font-family: Montserrat;
  padding: 0 5 3 0;
}

.nav-item {
  padding: 5px 18px;
}

.nav-link {

  font-size: 1.5rem;
  font-family: Montserrat;
  font-weight: lighter;

}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/website design.jpg");
  background-color: #8f8f8f;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* headings  */
h1 {
  color: white;
  font-family: Montserrat-bold;
  font-size: 4rem;
  text-align: center;
  line-height: 2;
}

h2 {
  font-family: montserrat-bold;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  color: white;
  font-family: Montserrat-bold;
  padding-top: 5%;
}

/* titleimage */
.image2 {
  max-width: 100%;
}

/* buttons */


/* About section */
#About {
  background-color: #84a9ac;
  padding: 5%;
}

.information {
  text-align: center;
  color: white;
  font-size: 1.25rem;
  font-family: Montserrat;
}

/* Pricing section */
#pricing {
  background-color: white;
  padding: 100px;
  text-align: center;
  Padding: 80px 0 100px 0;
}

.pricing-column {
  padding: 3% 5%;
  
}

.btn {
  background-color: #84a9ac;
  color: white;
}

#Contact {
  background-color: #84a9ac;
padding: 50px 0 100px 0;
}



.contactform {
  background-color: #84a9ac;
  color: white;
  font-family: Montserrat;
  padding: 1% 5% 3% 5%;
  text-align: center;
  font-size: 1.5rem;
}

.form-group {
  padding: 0 5% 0 5%;
  color: white;
}
.formbtn {
  padding-top: 20px;
  text-align: center;
}



.services {
  color: black;
  font-family: Montserrat;
  text-align: center;
  padding-top: 5px;

}

.servicesinfo {
  color: black;
  font-family: Montserrat;
  text-align:left;
  padding: 5px 20px 5px 20px;
}

.card-header {
  background-color: #84a9ac;
}

.card-body {
  font-family: Montserrat;
}

.imgborder {
  padding: 0 15px 0 15px;
}


#footer {
text-align: center;
  padding-top: 80px;

}

.icons {
  color: #84a9ac;
  font-size: 25px;
    padding-left:2%;
    padding-right:2%;
  padding-bottom:1%;
}

a:hover {
  color: grey;
}
.policy {
  color:#84a9ac;
   padding-right: 2%;
  padding-bottom:1%;
}




  .thankyou {
    font-family: montserrat;
    text-allign:center;
    text-color: white;
   
  }

  #Thankyou{
background-color:#84a9ac;
  padding: 100px;
}



  .thankyou {
    font-family: montserrat;
    text-allign:center;
    text-color: white;
    background-color: #84a9ac;
/*     padding-top: 100px;
    padding-bottom: 300px; */
      padding: 100px 20px 300px 20px;

  }


.justify {
    list-style-type: none;
    text-align: center;
  }
 



/* cookie banner */

.cookie-banner {
  font-family:Montserrat;
  position: fixed;
  bottom: 40px;
  left: 10%;
  right: 10%;
  width: 80%;
  padding: 5px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #888888;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
.close {
  height: 20px;
  background-color: #777;
  border: none;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}
